@model IEnumerable<Assignment_Rapidd.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfJoining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfLeaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empID)
        </td>
        <td>
            @Html.ActionLink(item.fullName, "EmployeeDetails", new { id = item.empID } )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeLocation)
        </td>
        <td>
            @Html.RadioButton(item.empID, item.isActive, item.isActive, htmlAttributes: new { disabled="disabled" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfJoining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfLeaving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailId)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteEmployee", new { empid = item.empID }, htmlAttributes: new { @class="btn btn-danger btn-xs" } )
        </td>
    </tr>
}

</table>
